{cover_enabled, true}.

{deps_error_on_conflict, true}.

{erl_opts, [debug_info]}.

{eunit_opts,
 [{skip_deps, true},
  verbose
 ]}.

{plugins,
 [{pc, "1.6.0",
   {git, "https://github.com/K2InformaticsGmbH/port_compiler.git",
    {branch, "master"}}}
 ]}.

{port_specs,
 [{"linux|darwin", "priv/nif_test.so", ["c_src/nif_test.c"]}
 ]}.

{provider_hooks,
 [{pre, [{compile, {pc, compile}}, {clean, {pc, clean}}]}
 ]}.
